---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background:  #ff6600
45% 		 #e65c00
40% 		 #cc5200
35% 		 #b34700
30% 		 #993d00
25% 		 #803300
20% 		 #662900
15% 		 #4d1f00
10% 		 #331400
5% 		 #1a0a00
0% 		 #000000
Hue
Hue 	Hex	Rgb	Hsl
0 	#ff0000	rgb(255, 0, 0)	hsl(0, 100%, 50%)
15 	#ff4000	rgb(255, 64, 0)	hsl(15, 100%, 50%)
24 	#ff6600	rgb(255, 102, 0)	hsl(24, 100%, 50%)
30 	#ff8000	rgb(255, 128, 0)	hsl(30, 100%, 50%)
45 	#ffbf00	rgb(255, 191, 0)	hsl(45, 100%, 50%)
60 	#ffff00	rgb(255, 255, 0)	hsl(60, 100%, 50%)
75 	#bfff00	rgb(191, 255, 0)	hsl(75, 100%, 50%)
90 	#80ff00	rgb(128, 255, 0)	hsl(90, 100%, 50%)
105 	#40ff00	rgb(64, 255, 0)	hsl(105, 100%, 50%)
120 	#00ff00	rgb(0, 255, 0)	hsl(120, 100%, 50%)
135 	#00ff40	rgb(0, 255, 64)	hsl(135, 100%, 50%)
150 	#00ff80	rgb(0, 255, 128)	hsl(150, 100%, 50%)
165 	#00ffbf	rgb(0, 255, 191)	hsl(165, 100%, 50%)
180 	#00ffff	rgb(0, 255, 255)	hsl(180, 100%, 50%)
195 	#00bfff	rgb(0, 191, 255)	hsl(195, 100%, 50%)
210 	#0080ff	rgb(0, 128, 255)	hsl(210, 100%, 50%)
225 	#0040ff	rgb(0, 64, 255)	hsl(225, 100%, 50%)
240 	#0000ff	rgb(0, 0, 255)	hsl(240, 100%, 50%)
255 	#4000ff	rgb(64, 0, 255)	hsl(255, 100%, 50%)
270 	#8000ff	rgb(128, 0, 255)	hsl(270, 100%, 50%)
285 	#bf00ff	rgb(191, 0, 255)	hsl(285, 100%, 50%)
300 	#ff00ff	rgb(255, 0, 255)	hsl(300, 100%, 50%)
315 	#ff00bf	rgb(255, 0, 191)	hsl(315, 100%, 50%)
330 	#ff0080	rgb(255, 0, 128)	hsl(330, 100%, 50%)
345 	#ff0040	rgb(255, 0, 64)	hsl(345, 100%, 50%)
360 	#ff0000	rgb(255, 0, 0)	hsl(0, 100%, 50%)
Saturation
Sat 	Hex	Rgb	Hsl
100% 	#ff6600	rgb(255, 102, 0)	hsl(24, 100%, 50%)
95% 	#f96706	rgb(249, 103, 6)	hsl(24, 95%, 50%)
90% 	#f2690d	rgb(242, 105, 13)	hsl(24, 90%, 50%)
85% 	#ec6a13	rgb(236, 106, 19)	hsl(24, 85%, 50%)
80% 	#e66b19	rgb(230, 107, 25)	hsl(24, 80%, 50%)
75% 	#df6c20	rgb(223, 108, 32)	hsl(24, 75%, 50%)
70% 	#d96e26	rgb(217, 110, 38)	hsl(24, 70%, 50%)
65% 	#d26f2d	rgb(210, 111, 45)	hsl(24, 65%, 50%)
60% 	#cc7033	rgb(204, 112, 51)	hsl(24, 60%, 50%)
55% 	#c67139	rgb(198, 113, 57)	hsl(24, 55%, 50%)
50% 	#bf7340	rgb(191, 115, 64)	hsl(24, 50%, 50%)
45% 	#b97446	rgb(185, 116, 70)	hsl(24, 45%, 50%)
40% 	#b3754d	rgb(179, 117, 77)	hsl(24, 40%, 50%)
35% 	#ac7753	rgb(172, 119, 83)	hsl(24, 35%, 50%)
30% 	#a67859	rgb(166, 120, 89)	hsl(24, 30%, 50%)
25% 	#9f7960	rgb(159, 121, 96)	hsl(24, 25%, 50%)
20% 	#997a66	rgb(153, 122, 102)	hsl(24, 20%, 50%)
15% 	#937c6c	rgb(147, 124, 108)	hsl(24, 15%, 50%)
10% 	#8c7d73	rgb(140, 125, 115)	hsl(24, 10%, 50%)
5% 	#867e79	rgb(134, 126, 121)	hsl(24, 5%, 50%)
0% 	#808080	rgb(128, 128, 128)	hsl(24, 0%, 50%)
Lightness
Light 	Hex	Rgb	Hsl
100% 	#ffffff	rgb(255, 255, 255)	hsl(24, 100%, 100%)
95% 	#fff0e6	rgb(255, 240, 230)	hsl(24, 100%, 95%)
90% 	#ffe0cc	rgb(255, 224, 204)	hsl(24, 100%, 90%)
85% 	#ffd1b3	rgb(255, 209, 179)	hsl(24, 100%, 85%)
80% 	#ffc299	rgb(255, 194, 153)	hsl(24, 100%, 80%)
75% 	#ffb380	rgb(255, 179, 128)	hsl(24, 100%, 75%)
70% 	#ffa366	rgb(255, 163, 102)	hsl(24, 100%, 70%)
65% 	#ff944d	rgb(255, 148, 77)	hsl(24, 100%, 65%)
60% 	#ff8533	rgb(255, 133, 51)	hsl(24, 100%, 60%)
55% 	#ff751a	rgb(255, 117, 26)	hsl(24, 100%, 55%)
50% 	#ff6600	rgb(255, 102, 0)	hsl(24, 100%, 50%)
45% 	#e65c00	rgb(230, 92, 0)	hsl(24, 100%, 45%)
40% 	#cc5200	rgb(204, 82, 0)	hsl(24, 100%, 40%)
35% 	#b34700	rgb(179, 71, 0)	hsl(24, 100%, 35%)
30% 	#993d00	rgb(153, 61, 0)	hsl(24, 100%, 30%)
25% 	#803300	rgb(128, 51, 0)	hsl(24, 100%, 25%)
20% 	#662900	rgb(102, 41, 0)	hsl(24, 100%, 20%)
15% 	#4d1f00	rgb(77, 31, 0)	hsl(24, 100%, 15%)
10% 	#331400	rgb(51, 20, 0)	hsl(24, 100%, 10%)
5% 	#1a0a00	rgb(26, 10, 0)	hsl(24, 100%, 5%)
0% 	#000000	rgb(0, 0, 0)	hsl(24, 100%, 0%)
RGB (Red, Green, Blue)
Red	Green	Blue
255	102	0

 
 
rgb(255, 102, 0)
#ff6600

« PreviousNext Chapter »

  font: 18px/1.4 $helvetica;
  color: 
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1,#000066 h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
